html, body{

  font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #505050;
  font-style: normal;
  line-height: 21px;
  font-size: 18px;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
  background: #464741 url("https://d1ffx7ull4987f.cloudfront.net/images/courses/hero/104/javascript-road-trip-part-3-1f417bd2cebba11605303bdc976cb38c.jpg") no-repeat center top / cover;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}

.instructions{
  /*position: absolute; ---- it was the caus of displaying issue*/
    top: 0%;
    right: 66.66666666666667%;
    bottom: 0%;
    left: 0%;
    overflow: auto;
}

.bellows{
  padding: 10px;
font-size: 16px;
min-height: 40px;
background: #d4d5d6;
border-bottom: 1px solid #e9eaea;
cursor: pointer;
pointer-events: auto;
}

.progress{
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .75rem;
    font-weight: bold;
    color: #34B3A0;
    line-height: 1.4;
    margin-bottom: .3125rem;
    text-transform: uppercase;
    background-color: white;
}

.title-progress{
  font-size: 1.625rem;
    line-height: 2rem;
    margin-bottom: .75rem;
}

.text-instructions{
  font-size: 16px;
    font-family: "Oxygen","Oxygen","Segoe UI","Helvetica Neue",sans-serif;
    color: #3E3E40;
    line-height: 1.6;
}

for-scrolling-like-a-pro {

  height: 100vh;
  overflow: auto;
}

.text-instructions { 
  height: 300px;
  color: #fff;
 }

 .container-div {

  height: 100vh;
  background-color: #9D9E9E;
 }

  .container-div-1 {

  height: 100vh;
  background-color: #D9DADA;
 }

.title-progress {

  color: #fff;
}

/*l'editeur de la console */

.entete-editor {

      color: #fff;
      font-size: 25px;
      text-align: center;
      background-color: black;
      min-height: 5px;
      font-weight: bold;
}

.footer-editor {
    position: relative;
    margin-bottom: 0;
    background-color: red;
    color: white;
    text-align:left;
}

.container-fluid-x1 {
      background-color: red;
  }

  .container-fluid-x2 {
      background-color: yellow;
  }
.container-fluid-x3 {
      background-color: red;

  }
