html, body{

  font-family: 'Muli', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #505050;
  font-style: normal;
  line-height: 21px;
  font-size: 18px;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  max-width: 100%;
  background: #464741 url("https://d1ffx7ull4987f.cloudfront.net/images/courses/hero/104/javascript-road-trip-part-3-1f417bd2cebba11605303bdc976cb38c.jpg") no-repeat center top / cover;
}

#console{
      height: 100vh !important;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
}
/*ces class col annulent les expaces entre les blocs*/
.col-md-4, .col-xs-4, .col-sm-4, .col-lg-4

{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.instructions{
  /*position: absolute; ---- it was the caus of displaying issue*/
    top: 0%;
    right: 66.66666666666667%;
    bottom: 0%;
    left: 0%;
    overflow: auto;
}

.bellows{
padding: 10px;
font-size: 16px;
min-height: 40px;
border-bottom: 1px solid #e9eaea;
cursor: pointer;
pointer-events: auto;
}

.progress{
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: .75rem;
    font-weight: bold;
    color: #34B3A0;
    line-height: 1.4;
    margin-bottom: .3125rem;
    text-transform: uppercase;
    background-color: white;
}

.title-progress{
  font-size: 1.625rem;
    line-height: 2rem;
    margin-bottom: .75rem;
}

.text-instructions{
  font-size: 16px;
    font-family: "Oxygen","Oxygen","Segoe UI","Helvetica Neue",sans-serif;
    color: #3E3E40;
    line-height: 1.6;
}

.text-instructions {
  height: 300px;
  color: #fff;
 }



  .container-div-1 {

  height: 100vh;
  background-color: #D9DADA;
 }

.title-progress {

  color: #fff;
}

/*l'editeur de la console */

.entete-editor {

      color: #fff;
      font-size: 25px;
      text-align: center;
      background-color: black;
      min-height: 5px;
      font-weight: bold;
}

.footer-editor {
        width: 100%;
        display: flex;
}





  .container-fluid-x1 h3{

    text-align: center;
  }

.fcn-component-header{
  background-color: #2a3034;
  text-align: left;
  padding: 0;
  height: 45px;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    color: #204056;
}

.u-hZdX9hXh9Bci8VNUp7s{
    margin-left: 44px;
}

.fcn-tabs{
  width: 100%;
  display: flex;
  white-space: nowrap;
}

.editor .fcn-component-header .fcn-button--tab {
    height: 45px;
}

.fcn-button--tab.fcn-button--tab--active {
    background-color: #354551;
    cursor: default;
}

.fcn-tabs .fcn-tabs__tab {
    user-select: none;
    padding-left: 12px;
}

.fcn-button--tab {
    position: relative;
    margin-right: 2px;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 10px;
    float: left;
    text-align: left;
    overflow: hidden;
    color: white;

}

.fcn-button {
    cursor: pointer;
    /*padding: 8px 20px 8px 20px;*/
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    border: 1px solid transparent;
    text-align: center;
    outline: none;
    border-radius: 0;
    font-family: "Oxygen","Oxygen","Segoe UI","Helvetica Neue",sans-serif;
}

.editor-footer {
    width: 100%;
    background-color: #2a3034;
    color: white !important;
}

.editor-footer__buttons {

    display: flex;
    position: relative;
    height: 38px;
    background-color: #2a3034;
}

._2SwuUNiEqk9B4NR0dyMMmn {
    width: 100%;
    display: flex;
}

.lx0K4MugD9fFT3l5pAqK1 {
    color: #fff;
    background-color: #1a7b72;
    border-color: transparent;
}

._2fDy3KzGIsY8FHMg74ib-V {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0;
    padding: .375rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: all 0.1s ease-in-out;
    font-family: "Oxygen","Segoe UI","Helvetica Neue",sans-serif,"Helvetica",arial;
}

._2rMsW52-vRt_jDn9YIoIoj {
    position: relative;
}

._2ieC2TsGV0VNSmeBczgbwo {
    font-size: 14px;
    position: absolute;
    top: -27px;
    background: black;
    padding: 5px;
    display: none;
    white-space: nowrap;
}

.bCD0tEslEFIV_i4IX_5ip {
    display: none;
    position: absolute;
    z-index: 1000;
    color: white;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 8px;
    top: 0px;
    left: 5px;
    border-top-color: black;
}

.fcn-control {
    text-align: center;
    font-size: 16px;
    color: #859098;
    cursor: pointer;
    padding: 14px;
    background-color: inherit;
}

._3QwoyZ-5nUFRrbC-LsvaCS {
    font-family: 'ikona';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
}
